In [2]:
%config IPCompleter.greedy=True
#Carga de datos a través de la función read_csv

In [2]:
import pandas as pd
import os

In [5]:
mainpath = "/Users/Carlos García/Documents/Carlos/Tech Develop CEGP/Machine Learning/datasets"
filename = "titanic/titanic3.csv"
#fullpath = mainpath + '/' + filaname
fullpath = os.path.join(mainpath, filename) #Otra forma, implica importar os

In [6]:
data = pd.read_csv(fullpath)

In [7]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [7]:
#read_csv(filepath="Users/Carlos García/Documents/Carlos/Tech Develop CEGP/Machine Learning/Uno/titanic/titanic3.csv",
#        sep = ",", dtype={"ingresos":np.float64, "edad":np.int32}, header=0,names={"ingresos", "edad"},
#       skiprows=12, index_col=None, skip_blank_lines=False, na_filter=False)

In [28]:
data.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [8]:
#Carga de datos através de la función open

In [24]:
data3 = open (mainpath + "/" + "customer-churn-model/Customer Churn Model.txt","r")

In [25]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)

In [26]:
counter = 0 
main_dict = {}
for col in cols:
    main_dict[col]=[]

In [27]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print ("El dataset tiene %d filas y %d columnas" % (counter, n_cols))

El dataset tiene 3333 filas y 21 columnas

In [28]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

#Lectura y escritura de ficheros

In [31]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [36]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [38]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

#Leer datos desde una URL

In [39]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [41]:
medals_data = pd.read_csv(medals_url)

In [42]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [54]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET',medals_url)
r.status
r.data

b'\n\n\n\n<html>\n<head>\n    <title>Telcel Internet en tu casa</title>\n    <!-- Required meta tags -->\n    <meta charset="utf-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">\n\t\n\t<link rel="shortcut icon" href="/pih/resources/img/telcel_ico.png">\n\t\n    <link rel="stylesheet" href="/pih/resources/css/bootstrap.min.css"/>\n\t<link rel="stylesheet" href="/pih/resources/css/fonts.css"/>\n\t<link rel="stylesheet" href="/pih/resources/css/style.css" />\n\t<link rel="stylesheet" href="/pih/resources/css/slick.css" />\n    \n    <script src="/pih/resources/js/jquery-3.5.1.min.js"></script>\n    <script src="/pih/resources/js/popper.min.js"></script>\n    <script src="/pih/resources/js/bootstrap.min.js"></script>\n    <script src="/pih/resources/js/slick.min.js"></script>\n\n    <script>\n        var gama = {"principal":"#00B0F0","secundario":"#b5b2ab","terciario":"#4f81bd"};\n        $(document).ready( function(){\n            $(\'head\').append( "<style> .principal{background:"+gama.principal+"} .secundario{background:"+gama.secundario+" } .terciario{background:"+gama.terciario+" }  </style>" );\n            \n            $(\'.main_slider\').slick({\n\t            slidesToShow: 1,\n\t            slidesToScroll: 1,\n\t            autoplay: true,\n\t            autoplaySpeed: 4000,\n\t            arrows: false,\n\t            dots: true\n\t        });\n            \n            $(\'#imgSliderClaro\').click(function (e) {\n            \tvar win = window.open(\'http://bit.ly/2ogB0ur\', \'_blank\');\n            \tif (win) {\n            \t    win.focus();\n            \t} else {\n            \t    alert(\'Please allow popups for this website\');\n            \t}\n        \t});\n            \n            $(\'#btnLogin\').click(function (e) {\n       \t\t\te.preventDefault();\n       \t\t\t\n       \t\t\t$(\'.overlay\').show();\n       \t\t\t\n       \t\t\tvar form = $(\'<form></form>\')\n                   .attr(\'action\', \'/pih/access\')\n                   .attr(\'method\', \'post\');\n       \t\t\t$(\'body\').append(form);\n       \t\t\t\n       \t\t\tform.submit();\n       \t\t});\n            \n        } );\n        \n    </script>\n    <style>\n        a {\n            color: #1578bd !important;\n    \t\ttext-decoration: underline !important;\n        }\n    </style>\n</head>\n\n<body class="no_header">\n\t\n\t<section class="slider">\n\t    <div class="container">\n\t        <div class="main_slider">\n\t            <div>\n\t                <img src="/pih/resources/img/slider_oferta_comercial.jpg" draggable="false" alt="Banner 1" />\n\t            </div>\n\t            <div>\n\t                <img src="/pih/resources/img/slider_oferta_adicional.jpg" draggable="false" alt="Banner 2" />\n\t            </div>\n\t            <div>\n\t                <img id="imgSliderClaro" src="/pih/resources/img/slider_claro_video.jpg" draggable="false" alt="Banner 3" />\n\t            </div>\n\t        </div>\n\t    </div>\t\n    </section>\n    \n    <section>\n\t    <div class="container">\n\t        <div class="container text-center" style="max-width: 300px;">\n\t\t        <p style="font-size: 24px; font-weight: bold; line-height: 25px; color: #000;">\n\t\t        \t<span style="color: #1578bd;">Se ha detectado un cambio de ubicaci&oacute;n del M&oacute;dem</span> <br><br> Se deseas navegar con la mejor red, es necesario regresar el m&oacute;dem a su ubicaci&oacute;n inicial. &iquest;Quieres establecer una nueva ubicaci&oacute;n? haz clic <a id="btnLogin" href="javascript:void(0)">aqu&iacute;</a> <br><br> Amigo Telcel al *264 o marca al *111, si tienes un plan de renta\n\t\t        </p>\n\t\t    </div>\n\t\n        </div>\n    </section>\n   \t\n   \t<div class="overlay">\n        <div class="spinner">\n            <div class="double-bounce1"></div>\n            <div class="double-bounce2"></div>\n        </div>\n    </div>\n\t\n\t<link rel="stylesheet" href="/pih/resources/css/chatbot.css" />\n\n<img id="img1" class="chatbot-1" src="/pih/resources/img/telcel_bot_1.gif" draggable="false" alt="Logo" />\n\n<img id="img2" class="chatbot-2" src="/pih/resources/img/telcel_bot_2.gif" draggable="false" alt="Logo" style="display: none;"/>\n\t\n<script type="text/javascript" language="JavaScript">\n\t\n\t$(document).ready( function () {\n\t\t\n\t\t$("#img1").mouseenter(function() {\n\t\t\t$("#img1").hide();\n\t\t\t$("#img2").show();\n\t\t});\n\t\t\n\t\t$(\'#img1\').click( function (e) {\n\t\t\te.preventDefault();\n\t\t\t\n\t\t\t$("#img1").hide();\n\t\t\t$("#img2").show();\n\t    });\n\t\t\n\t\t$("#img2").mouseout(function() {\n\t\t\t$("#img1").show();\n\t\t\t$("#img2").hide();\n\t\t});\n\t\t\n\t\t$(\'#img2\').click( function (e) {\n\t\t\te.preventDefault();\n\t\t\t\n\t\t\t$(\'.overlay\').show();\n\t\t\t\n\t\t\tif($(this).is(":visible")) {\n\t\t\t\t$.post(\'/pih/chatbot/load\', null, validateResponse, \'json\');\n\t\t\t}\n\t    });\n\t\t\n\t});\n\t\n\tfunction validateResponse(data) {\n    \t$(\'.overlay\').hide();\n    \t\n    \tif(data.responseCode == 0 && data.url != \'\') {\n    \t\twindow.open(data.url, \'\', \'width=430, height=640\');\n    \t}\n    }\n    \n</script>\n\t\n</body>\n</html>'

In [56]:
#Cargar datos desde una hoja de calculo xls y xlsx

Error: iterator should return strings, not int (did you open the file in text mode?)

In [57]:
mainpath = "/Users/Carlos García/Documents/Carlos/Tech Develop CEGP/Machine Learning/datasets"
filename = "titanic/titanic3.xls"

In [58]:
titanic2 = pd.read_excel(mainpath + '/' + filename, "titanic3")

In [59]:
titanic3 = pd.read_excel(mainpath + '/' + filename, "titanic3")

In [60]:
titanic3.to_csv(mainpath + '/titanic/titanic_custom.csv')

In [61]:
titanic3.to_excel(mainpath+"/titanic/titanic_custom.xls")

In [62]:
titanic3.to_json(mainpath+"/titanic/titanic_custom.json")